@import "header";
@import "greeting";
@import "help";
@import "find";
@import "parting";
@import "footer";

@import "vars";
@import "libs";
@import "fonts";
@import "media";
@import "animation";


body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  box-sizing: border-box;

}
.line-wrapper{
  margin: 0 10px;
}
.line{
  height: 1px;
  background-color: #BBCBDB;
  max-width: 1160px;
  margin: 0 auto;
}
.hide{
  display: none;
}