@import "blocks/header";
@import "blocks/greeting";

@import "base/vars";
@import "base/libs";
@import "base/fonts";
@import "base/media";


body {
  font-family: 'Open Sans', sans-serif;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}